extends ../layout.pug

block content
  .row
    .col-md-12
      form( method='post', action='/admin/coaches' )
        each player, index in data.players
          if ( index % 6 ) === 0
            .row

          .col-md-2
            label.checkbox-inline(for=`player-${player.handle}`)
              input(id=`player-${player.handle}`, type='checkbox', checked=player.is_coach, name='coaches[]', value=player.id )
              span= player.handle

        .row
          .col-md-12
            if user.is_admin
              button.set-coaches( type='submit') Set coaches
