extends ../layout.pug

block content
  div.label.label-info Teams
  div.label.label-primary Players
  form.coach-assignment
    table.table.table-condensed.table-bordered.table-hover.table-striped
      thead
        tr
          for coach in data.coaches
            th= coach.handle
              div
                div.label.label-info( class=`team-count-${coach.id}` )
                  span.count= coach.counts.team_count
                div.label.label-primary( class=`player-count-${coach.id}` )
                  span.count= coach.counts.player_count
          th Goal
          th Team Count
          th Player Count
      tbody
        each goal, index in data.goal_counts
          if index > 0 && index % 10 === 0
            tr
              for coach in data.coaches
                th= coach.handle
                  div
                    div.label.label-info( class=`team-count-${coach.id}` )
                      span.count= coach.counts.team_count
                    div.label.label-primary( class=`player-count-${coach.id}` )
                      span.count= coach.counts.player_count
              th Goal
              th Team Count
              th Player Count

          tr.goal-assignment( class=`goal-assignment-${goal.id}`, data-goal-id=goal.id, data-previous-id=( goal.coach_id || 0 ) )
            for coach in data.coaches
              td( title=coach.handle, style='text-align: center;' )
                input(
                  type='radio',
                  id=`goal-${goal.id}-${coach.id}`, name=`goal-${goal.id}`,
                  value=coach.id,
                  data-goal-id=goal.id,
                  data-player-count=goal.player_count, data-team-count=goal.team_count,
                  checked=goal.coach_id===coach.id
                )
            td= goal.title
            td( style='text-align: center;' )= goal.team_count
            td( style='text-align: center;' )= goal.player_count

    if user.roles.includes( 'moderator' )
      button.btn.btn-default.set-coaches( type='submit' ) Assign Coaches

block scripts
  script( src='/javascripts/admin/goals.js' )