extends ../layout

block css
  style.
    .container { display: flex;  flex-direction: column;}
    .ticket-body { flex: 1; border: solid 1px ;}
    .ticket-body { padding-left: 30px; }
    .tests td { border: 1px solid #ddd; }

    .test-send { color: #009}
    .test-receive { color: #006400 }

block content
  h1 Coach

  .ticket-list.container
    each request in requests
      .ticket-body
        h1= `Request # ${request.id}`
        h4
          a( href=`${request.goal.link}`, alt=`${request.goal.title}`, target='_blank' )= `${request.goal.title}`
          span= ` -- Team Member(s):`
          each player in request.players
            span= `${player.handle}`

        h3= `Events (${request.events.length}), Current: ${request.events[request.events.length-1].name}`
        h3= `Escalations (${request.escalations})`
        h3= `Requested ${request.age}`
        each event in request.events.reverse()
          .event
            .title= event.name
            .data
              each value, key in event.data
                = `${key} -- ${ value }`

        h4.ticket-action-buttons
          button.claim( data-request_id=request.id ) Claim
          button.escalate( data-request_id=request.id ) Escalate

block scripts
  script( src='/javascripts/coach.js' )
